body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #111;
  color: #fff;
}

img {
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.05);
}

button:hover {
  background: #eee;
  color: #000;
}
